<div id="contacto">
    <div class="container">
        <div class="col-md-12">
            <h1 id="centarTexto">
                <strong> Contáctanos </strong>
            </h1>
            <h5 id="centarTexto">
                Hablemos sobre tu Proyecto
            </h5>
        </div>
        <div class="row" style="margin-top: 4em;">
            <div class="col-md-4">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="nombre">
                </div>
            </div>

            <div class="col-md-4">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-phone"></i></span>
                    </div>
                    <input type="number" class="form-control" placeholder="teléfono">
                </div>
            </div>

            <div class="col-md-4">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                    </div>
                    <input type="email" class="form-control" placeholder="E-mail">
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-comment"></i></span>
                    </div>
                    <textarea class="form-control" placeholder="mensaje"></textarea>
                </div>
            </div>
        </div>

        <!-- recaptcha -->
        <div class="row" id="botones">
            <div class="col-md-12">
                <div class="g-recaptcha" data-sitekey="6LcJFHAUAAAAAAwrcLFyQKknBeaRK-6nOIEZ_zFN"></div>
            </div>
        </div>

        <!-- Button -->
        <div class="row" id="botones">
            <div class="col-md-12">
                <button type="button" class="btn btn-outline-primary btn-lg" id="enviar">Enviar</button>
            </div>
        </div>

    </div>
</div>