<div id="presentacion">
    <ngb-carousel>
        <ng-template ngbSlide>
            <img src="../assets/slider/grupo.jpeg" class="imgFondo">
            <div class="carousel-caption">
                <h1><strong>Desarrollo de Software</strong></h1>
                <h5>
                    <strong>
                        Empleamos tecnologias open source con soluciones innovadoras a costos asequibles
                    </strong>
                </h5>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <img src="../assets/slider/compu.jpg" class="imgFondo">
            <div class="carousel-caption">
                <h1><strong>Desarrollos ágiles bajo SCRUM</strong></h1>
                <h5>
                    <strong>
                        Aplicamos metodologías de punta para desarrollar en menor tiempo el software que su empresa
                        necesita
                    </strong>
                </h5>
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <img src="../assets/slider/hojas.jpg" class="imgFondo">
            <div class="carousel-caption">
                <h1><strong>Fábrica de Software y Outsourcing de talento en TI</strong></h1>
                <h5>
                    <strong>
                        Sumamos capacidad a su operación acelerando el proceso de desarrollo de software. Los costos
                        pueden alcanzar una disminución significativa comparada con el desarrollo interno en su
                        organización.
                    </strong>
                </h5>
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <img src="../assets/slider/manos.jpg" class="imgFondo">
            <div class="carousel-caption">
                <h1><strong>Contáctanos</strong></h1>
                <h5>
                    <strong>
                        Calidad y experiencia son la base de nuestro éxito. Contáctenos para que podamos asesorarle en
                        su proyecto
                    </strong>
                </h5>
            </div>
        </ng-template>
    </ngb-carousel>
</div>