<div class="container">
    <h1> Nuestras Tecnologías </h1>
    <div class="row">
        <div class="col-md-2">
            <div class="card" id="rowCard">
                <img class="card-img-top" src="../assets/img/angular" alt="Card image cap">
            </div>
        </div>

        <div class="col-md-2">
            <!-- <i class="devicon-mongodb-plain-wordmark colored"></i> -->
            <div class="card" id="rowCard">
                <img class="card-img-top" src="../assets/img/mongodb" alt="Card image cap">
            </div>
        </div>

        <div class="col-md-2">
            <!-- <i class="devicon-javascript-plain colored"></i> -->
            <div class="card" id="rowCard">
                <img class="card-img-top" src="../assets/img/js" alt="Card image cap">
            </div>
        </div>

        <div class="col-md-2">
            <!-- <i class="devicon-nodejs-plain colored"></i> -->
            <div class="card" id="rowCard">
                <img class="card-img-top" src="../assets/img/node" alt="Card image cap">
            </div>
        </div>

        <div class="col-md-2">
            <div class="card" id="rowCard">
                <img class="card-img-top" src="../assets/img/firebase" alt="Card image cap">
            </div>
        </div>

        <div class="col-md-2">
            <!-- <i class="devicon-github-plain-wordmark colored"></i> -->
            <div class="card" id="rowCard">
                <img class="card-img-top" src="../assets/img/github" alt="Card image cap">
            </div>
        </div>

    </div>
</div>