<div id="serviciosDes">
    <div class="container">
        <h1 class="clsServicios"><strong> Descripcion Detallada de Servicios </strong></h1>

        <div class="row">
            <div class="col-md-8">
                <p>
                    Le invito a conocer a un equipo de profesionales comprometidos con la calidad, y una oferta de servicios para sus necesidades
                    de desarrollo y pruebas de calidad del software implementado con las nuevas tecnologías.
                </p>

                <p>
                    En UELiT contamos con vasta experiencia en el medio informático, creemos que nuestros conocimientos son parte fundamental
                    para poder ofrecer un servicio de calidad y profesionalismo, evaluando la necesidad con la que cuenta
                    cada uno de nuestros clientes, para poder ofrecer así la mejor opción en relación costo beneficio de
                    los proyectos que son asignados a nuestra empresa.
                </p>

                <p>
                    Nuestro objetivo es dotar de soluciones tecnológicas que les permitan mejorar su forma de hacer negocios y de competir en
                    sus mercados.
                </p>
            </div>
            <div class="col-md-4">
                <img class="card-img" src="../assets/servicios/serviciosDes.jpg" alt="Card image cap">
            </div>
        </div>
        <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
        <div class="row" id="rowDes">
            <div class="col-md-4">
                <img class="card-img-top" src="{{serviciosDes.image}}" alt="Card image cap">
            </div>
            <div class="col-md-8">
                <h5 class="nameServicio"><strong>{{serviciosDes.titulo}}</strong></h5>
                <br>
                <p>
                    {{serviciosDes.descripcion}}
                </p>
            </div>

        </div>

        <!--************************************************Servicio N°1*******************************************************-->
        <!-- <div class="row" id="fabricaDeSw">
            <div class="col-md-4">
                <img class="card-img-top" src="../assets/servicios/settings.png" alt="Card image cap">
            </div>
            <div class="col-md-8">
                <h5 class="nameServicio"><strong>Fabrica de Software (Desarrollo y Testing)</strong></h5>
                <br>
                <p>
                    Basada en la continua actualización y especialización Metodológica, Tecnológica y Humana, sumamos capacidad de operación.
                    El objetivo de nuestro Servicio de “Fábrica de Software Extendido” (FASE) es el de proporcionarle los
                    servicios de Análisis, Diseño, Construcción y Pruebas Unitarias en plataformas Mainframe y/o Distribuido;
                    a la medida de su Cliente final.
                </p>
                <p>
                    Los costos pueden alcanzar una disminución significativa comparada con el desarrollo interno en su organización, al reducir
                    los costos de reclutamiento y entrenamiento.
                </p>
            </div>
        </div> -->

        <!--************************************************Servicio N°2*******************************************************-->

        <!-- <div class="row" id="borderP">
            <div class="col-md-8">
                <h5 class="nameServicio"><strong>{{serviciosDes.titulo}}</strong></h5>
                <br>
                <p>
                    Encontrar el personal adecuado no siempre es tarea fácil, seleccionar las personas idóneas significa el éxito del proyecto.

                </p>
                <p>
                    Contamos con amplio conocimiento de las tendencias y retos que enfrentan las empresas y ofrecemos servicios de asignación
                    de Personal altamente calificado en IT por ‘Time and Material’. Mediante procedimientos de control y
                    seguimiento de nuestros servicios, le garantizamos los resultados esperados, generando ahorros considerables
                    para su empresa. </p>
            </div>
            <div class="col-md-4">
                <img class="card-img-top" src="../assets/servicios/hiring.png" alt="Card image cap">
            </div>
        </div> -->

        <!--**************************************************Servicio N°3****************************************************-->
        <!-- <div class="row" id="borderP">
            <div class="col-md-4">
                <img class="card-img-top" src="../assets/servicios/development.png" alt="Card image cap">
            </div>
            <div class="col-md-8">
                <h5 class="nameServicio"><strong>{{serviciosDes.titulo}}</strong></h5>
                <br>
                <p>
                    Desarrollamos software a medida en ambientes Web, escritorio, móvil. Servicios bajo variadas tecnologías y frameworks. Aplicamos
                    metodología ágil SCRUM en nuestros desarrollos, involucrando directamente a nuestros clientes.
                </p>
                <p>
                    Empleamos tecnologías Open Source con soluciones innovadoras a costos asequibles.
                </p>
            </div>
        </div> -->

        <!--****************************************************Servicio N°4**************************************************-->

        <!-- <div class="row" id="borderP">
            <div class="col-md-8">
                <h5 class="nameServicio"><strong>Desarrollo de Software por Proyectos a Precio Cerrado</strong></h5>
                <br>
                <p>
                    Administramos Proyectos de Punta a Punta con herramientas, metodologías y procedimientos de vanguardia para la implementación
                    de nuevas tecnologías.
                </p>
                <p>
                    Desarrollo de aplicaciones con un estricto control en el seguimiento de las actividades para cumplir con oportunidad y Calidad.
                </p>
                <p>
                    Generamos confianza en nuestros clientes mediante informe de avance, identificación de riesgos y mitigación de los mismos.
                </p>
            </div>
            <div class="col-md-4">
                <img class="card-img-top" src="../assets/servicios/software.png" alt="Card image cap">
            </div>
        </div> -->


        <!--***************************************************Servicio N°5****************************************************-->
        <!-- <div class="row" id="borderP">
            <div class="col-md-4">
                <img class="card-img-top" src="../assets/servicios/consulting.png" alt="Card image cap">
            </div>
            <div class="col-md-8">
                <h5 class="nameServicio"><strong>Consultoria</strong></h5>
                <br>
                <p>
                    Le ofrecemos servicios de Consultoría integral en tecnologías y análisis de negocios. Evaluación de la situación de su Empresa
                    mediante un diagnóstico inicial. Detección de malas prácticas, pliego de Recomendaciones, Planes de mejora.
                </p>
                <p>
                    Le brindamos Estrategias IT, Análisis de requerimientos, Especificaciones funcionales y técnicas, auditoria de infraestructura
                    IT, análisis para que logre una reducción de costos en su área IT.
                </p>
            </div>
        </div> -->

        <!--***************************************************Servicio N°6****************************************************-->

        <!-- <div class="row" id="borderP">
            <div class="col-md-8">
                <h5 class="nameServicio"><strong>ERP (Odoo)</strong></h5>
                <br>
                <p>
                    Socio de negocios de ODOO
                </p>
                <p>
                    UNA PROPUESTA DE VALOR EXCLUSIVO
                </p>
                <p>
                    Todo lo que necesita en una experiencia de usuario de primera categoría.
                </p>
                <p>
                    El modelo de código abierto de Odoo nos ha permitido aprovechar los conocimientos de miles de desarrolladores y expertos
                    en el mundo empresarial para construir cientos de aplicaciones en solo unos años.
                </p>
                <p>
                    Con bases tecnológicas potentes, la estructura de Odoo es única. Ofrece usabilidad de la más alta calidad en todas las aplicaciones.
                </p>
                <p>
                    Las mejoras en usabilidad realizadas en Odoo se implementarán directamente en todas nuestras aplicaciones totalmente integradas.De
                    esa manera, Odoo evoluciona mucho más rápido que cualquier otra solución.
                </p>
            </div>
            <div class="col-md-4">
                <img class="card-img-top" src="../assets/servicios/odoo.png" alt="Card image cap">
            </div>
        </div> -->

    </div>
</div>