  
#formulario a:hover {
    background: #ddd;
    color: black;
}

nav img {
    width: 20vh; 
    margin-left: 1em;
}

@media only screen and (max-width: 600px) {
    nav img {
        margin: 0%; 
    }
}

section {
    /* border: solid; */
    /* height: 25vh; */
}

.col-md-12 {
    padding: 1em;
    background-color: #043469;
    text-align: center;
    /* height: 25vh; */
}


h3 {
    margin-top: 2em;
    margin-bottom: 2em;
    color: white;
}

footer {
    background-color: #2b2b2b;
    /* margin-top: 2em; */
}

.container {
    padding-top: .1em;
}

#renglonInfo {
    color:seashell; 
    margin-top: 2em;
    padding-bottom: 2em;
    justify-content: center;
}

.col-md-4 {
    margin-top: 1em;
    padding: 1em;
    width: 80%;
}

h6 {
    text-align: center;
}

p {
    text-align: justify;
}

footer a:link {
    color: white;
}

footer a:visited {
    color: white;
} 

