<div id="nosotrosDes">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h1 id="centrarTexto"><strong>Quienes Somos</strong></h1>
                <!-- <img src="../assets/img/logo.png" alt="LogoUelit" class="rounded"> -->
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <img src="../assets/nosotros/quienesSomos.png">
            </div>
            <div class="col-md-8" id="justificarTexto">
                <p>
                    ‘Integración de Servicios en Tecnologías de Información UELiT’ (UELiT) es una empresa Mexicana que ofrece el servicio de
                    desarrollo de software e integración de soluciones de Tecnologías de Información, está conformada por
                    profesionales dedicados a proporcionar Servicios de Consultoría.
                </p>
                <p>
                    UELiT fue fundada por el licenciado en informática Miguel Flores Bojorges y un grupo de Consultores, iniciando operaciones
                    en 2009, quienes con su vasta experiencia comprobada a lo largo de 15 años brindando Servicios en Consultoría
                    y Desarrollo de Aplicaciones Bancarias, lenguajes de programación de última generación, metodologías
                    de desarrollo de sistemas y administración de proyectos, ha permitido abordar proyectos de misión crítica.
                </p>
                <!-- <p>
                    UELiT ha basado su crecimiento en el Servicio y la Calidad, mediante la competitividad que genera mayor productividad a menor
                    costo, creando una sinergia con servicios de valor agregado que contribuye al éxito de los proyectos
                    de los clientes. Haciendo parte de nosotros sus objetivos y buscando soluciones a través de nuestras
                    capacidades para desarrollar soluciones reales que portan Confiabilidad y Resultados.
                </p> -->
                <p>
                    En UELiT colaboran profesionales con hasta 15 años de experiencia en el Sector Financiero, Instituciones de Gobierno, así
                    como en el Sector Empresarial; innovando y desarrollando aplicaciones exitosas para sustentar el crecimiento
                    de nuestros clientes.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="card" id="rowDes">
                    <h5 class="card-header" id="centrarTexto">Misión</h5>
                    <div class="card-body">
                        <p class="card-text" id="justificarTexto">Proveer servicios de Tecnologías de información sustentables
                            para potenciar las oportunidades y ventajas competitivas de nuestros clientes, a través de soluciones
                            reales, personalizadas y rentables que aporten valor agregado a sus procesos de negocio; ofreciendo
                            a nuestro talento humano una mejor calidad de vida en un ambiente propicio para su crecimiento.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card" id="rowDes">
                    <h5 class="card-header" id="centrarTexto">Visión</h5>
                    <div class="card-body">
                        <p class="card-text" id="justificarTexto">Líderes en el mercado de Servicios de Tecnologías de Información
                            a nivel global, sustentados en la competencia de nuestro capital humano, a través de metodologías
                            certificadas, sistemas de gestión automatizados y alianzas estratégicas.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <img src="../assets/nosotros/nosotrosDes.png">
            </div>

            <div class="col-md-8" style="margin-top: 2em;">
                <h5 id="centrarTexto"> Valores y Aptitudes</h5>

                <div class="row">
                    <div class="col-md-4">
                        <ul>
                            <li>Compromiso</li>
                            <li>Honestidad</li>
                            <li>Actitud de servicio</li>
                            <li>Tenacidad</li>
                            <li>Respeto</li>
                            <li>Ética profesional</li>
                        </ul>
                    </div>

                    <div class="col-md-8">
                        <ul>
                            <li>Espíritu de Trabajo en equipo</li>
                            <li>Espíritu de Servicio</li>
                            <li>Lealtad y Confidencialidad</li>
                            <li>Fomento de la Innovación y Creatividad</li>
                            <li>Capacitación Continua</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>